/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Rubik Mono One, sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
/* COMMON */
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    color: yellow;
}
.content2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: green;
}
/* NAV */
li{
    display: inline-block;
    list-style: none;
    background-color: white;
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}
ul{
    position: fixed;
    top: 4%;
    right: 2%;
    z-index: 100;
}
/* MAIN */
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;  
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
h1{
    font-size: 50px;
}